/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'); */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

.card {
    width: 450px;
    margin: auto;
    height: 450px;
    border-radius: 5px;
    box-shadow: 5px 5px grey;
}

.time {
    text-align: center;
    color: #fff;
}

.year {
    background-color: #ef5320;
    padding: 2px 0;
    height: 40px;
}

.date {
    background-color: #fe6d40;
    padding: 32px 0px;
    height: 170px;
}

.date h2 {
    font-size: 50px;
    font-weight: 500px;
    margin-top: 9px;
}

.time p {
    font-weight: 300;
}