/* .block-minicart {
    visibility: visible;
    right: 0;
    opacity: 1;
}

.block-minicart {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #fff;
    z-index: 500;
    width: 424px;
    margin: 0;
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    right: -500px;
    opacity: 0;
    transition: .4s;
}

.block-minicart-heading {
    padding: 17px 16px;
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #edf1f5;
}

.block-minicart-heading .minicart-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
} */