<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link data-vue-meta="1" rel="icon" type="image/ico" href="https://canifa.com/assets/favicon-32x32.png" sizes="32x32">
    <link rel="stylesheet" href="css/list-product-men.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href=" https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="wrapper canifa">
          <div class="header-promotion">
            <div class="slick-list">
                <div>
                    <div class="item">
                        Thêm vào giỏ 599.000 ₫ để miễn phí vận chuyển
                    </div>
                </div>
                <!-- <div class="slick-slide slick-center slick-cloned">
                    <div>
                        <div class="item">
                            ĐỔI HÀNG MIỄN PHÍ - Tại tất cả cửa hàng trong 30 ngày
                        </div>
                    </div>
                </div> -->
            </div>
          </div>
          <header class="site-header">
            <div class="site-header-container">
                <div>
                    <div class="header-logo">
                        <a href="homepage.html" title="Home Page" class="a-logo router-link-exact-active router-link-active">
                            <img src="https://canifa.com/assets/images/logo.svg" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="header-menu" style="">
                    <ul>
                        <li>
                            <a href="women.html" class=""><span>NỮ</span></a>
                        </li>
                        <li>
                            <a href="men.html"><span>NAM</span></a>
                        </li>
                        <li>
                            <a href="children.html"><span>TRẺ EM</span></a>
                        </li>
                        <li>
                            <a href="good-price.html"><span>GIÁ TỐT</span></a>
                        </li>
                        <li>
                            <a href="canifa-z.html"><span>CANIFA Z</span></a>
                        </li>
                    </ul>
                </div>
                <div class="header-search">
                    <div class="search-input-group">
                        <button class="search-btn"></button>
                        <input type="text" name="" placeholder="Tìm kiếm" class="search-input">
                    </div>
                </div>
                <div class="header-group-icon" style="margin-left: 100px;">
                    <div class="header-store header-icon">
                        <a href="shop-system.html" style="text-decoration: none;">
                            <span style="color: rgba(51,63,72,.5); font-size: 13px;">Cửa hàng</span>
                        </a>
                    </div>
                    <div class="header-account header-icon" style="cursor:pointer">
                        <a href="" style="text-decoration: none;">
                            <span style="color: rgba(51,63,72,.5); font-size: 13px;">Tài khoản</span>
                        </a>
                    </div>
                    <div class="header-cart">
                        <div class="header-cart-icon header-icon" style="cursor:pointer">
                            <span style="color: rgba(51,63,72,.5); font-size: 13px;">Giỏ hàng</span>
                            <span class="count">0</span>
                        </div>
                    </div>
                </div>
            </div>
          </header>
          <div>
            <main class="site-main">
                <div class="container">
                    <div class="breadcrumbs">
                        <ul class="items">
                            <li class="item">
                                <a href="/" class="router-link-active">Trang chủ</a>
                            </li>
                            <li class="item">
                                <a href="/nam.html" class="">Nam</a>
                            </li>
                            <li class="item">
                                <a href="/nam/ao.html" class="">Áo</a>
                            </li>
                            <li class="item">
                                <strong>Áo phông</strong>
                            </li>
                        </ul>
                    </div>
                    <div class="category-page-top">
                        <ul class="filter-by-cat">
                            <li class="router-link-exact-active router-link-active active">
                                <span>Áo phông</span>
                            </li>
                            <li>
                                <span>Áo polo</span>
                            </li>
                            <li>
                                <span>Áo sơ mi</span>
                            </li>
                            <li>
                                <span>Áo ba lỗ</span>
                            </li>
                            <li>
                                <span>Áo len</span>
                            </li>
                            <li>
                                <span>Áo nỉ</span>
                            </li>
                            <li>
                                <span>Áo nỉ có mũ</span>
                            </li>
                            <li>
                                <span>Áo dài tay</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="sidebar col-sm-2">
                            <div class="category-left-sidebar">
                              <div class="label">Danh mục</div>
                              <ul>
                                <li class="level0">
                                  <a href="/nam/ao.html" class="active" style="color: red;">Áo</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/quan.html">Quần</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/ao-khoac.html">Đồ mặc ngoài</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/do-mac-nha.html">Đồ mặc nhà</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/do-mac-trong.html">Đồ mặc trong</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/phu-kien.html">Phụ kiện</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/san-pham-moi.html">Hàng mới</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/gia-tot.html">Giá tốt</a>
                                </li>
                                <li class="level0">
                                  <a href="/nam/do-active">Canifa Active</a>
                                </li>
                                <li class="level0"></li>
                                <li class="level0"></li>
                                <li class="level0"></li>
                              </ul>
                            </div>
                            <div class="block filter">
                              <div class="block-title">
                                <div class="filter-close">Đóng</div>
                              </div>
                              <div class="block-content">
                                <div class="filter-options">
                                  <div v-if="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]"
                                  class="filter-options-item ">
                                    <div class="filter-options-title">
                                      <span>Kích cỡ</span>
                                    </div>
                                    <div class="filter-options-content">
                                      <div class="swatch-attribute size">
                                        <div class="swatch-attribute-options">
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option text">XS</div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option text">S</div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option text">M</div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option text">L</div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option text">XL</div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option text">XXL</div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div v-if="[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object],[object Object]"
                                  class="filter-options-item ">
                                    <div class="filter-options-title">
                                      <span>Màu sắc</span>
                                    </div>
                                    <div class="filter-options-content">
                                      <div class="swatch-attribute color">
                                        <div class="swatch-attribute-options">
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/be.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/cam.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/caro.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/cham.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/hoa_tiet.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/hong.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/ke.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/nau.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/tim.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/trang.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/vang.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/xam.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/xanh_da_troi.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/xanh_jeans.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/xanh_la_cay.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/den.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option"
                                            style="background-image: url(&quot;https://media.canifa.com/attribute/swatch/images/do.png&quot;);">
                                            </div>
                                          </div>
                                          <div class="swatch-option-link-layered">
                                            <div class="swatch-option" style="background-color: rgb(0, 0, 0);"></div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="filter-options-item">
                                    <div class="filter-options-title">
                                        <span>Khoảng giá</span>
                                      </div>
                                      <div class="filter-options-content">
                                          <div class="price-range">
                                              <div class="track-container">
                                                  <span class="range-value min">0 đ</span>
                                                  <span class="range-value max">2000000 đ</span>
                                                  <div class="track"></div>
                                                  <div class="track-highlight" style="left: 0%; width: 100%;">
                                                  </div>
                                                  <button class="vue-slider-dot track1" style="left: 0%;"></button>
                                                  <button class="vue-slider-dot track2" style="left: 100%;"></button>
                                              </div>
                                          </div>
                                      </div>
                                </div>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
            <footer class="site-footer">
              <div class="container ">
                  <div class="footer-content ">
                      <div class="row ">
                          <div class="col-sm-4 footer-colum1 ">
                              <h3>CÔNG TY CỔ PHẦN CANIFA</h3>
                              <p>
                                  Số ĐKKD: 0107574310, ngày cấp: 23/09/2016, Nơi cấp: Sở Kế hoạch và đầu tư Hà Nội
                              </p>
                              <p>
                                  Địa chỉ trụ sở tại số 688 Đường Quang Trung, Phường La Khê, Quận Hà Đông, Thành phố Hà Nội.
                              </p>
                              <p>
                                  Địa chỉ liên hệ: P301, tầng 3, tòa nhà GP Invest, số 170 La Thành, Phường Ô Chợ Dừa, Quận Đống Đa, Thành Phố Hà Nội.
                              </p>
                              <p>
                                  Điện thoại: +8424 - 7303.0222
                              </p>
                              <p>
                                  Fax: +8424 - 6277.6419
                              </p>
                              <p>
                                  Email: hello@canifa.com
                              </p>
                              <div class="foote-social ">
                                  <a href="https://www.facebook.com/canifa.fanpage/" alt="facebook" class="social social-facebook"></a>
                                  <a href="https://www.instagram.com/canifa.fashion/" alt="instagram" class="social social-instagram"></a>
                                  <a href="https://www.youtube.com/CANIFAOfficial" alt="youtube" class="social social-youtube"></a>
                                  <a href="https://www.tiktok.com/@hello.canifa" alt="tiktok" class="social social-tiktok"></a>
                              </div>
                          </div>
                          <div class="col-sm-2 footer-colum2">
                              <h3>Thương hiệu</h3>
                              <ul>
                                  <li title="Giới thiệu"><span>Giới thiệu</span></li>
                                  <li title="Tin tức"><span>Tin tức</span></li>
                                  <li title="Tuyển dụng"><span>Tuyển dụng</span></li>
                                  <li title="Với cộng đồng"><span>Với cộng đồng</span></li>
                                  <li title="Hệ thống cửa hàng"><span>Hệ thống cửa hàng</span></li>
                                  <li title="Liên hệ"><span>Liên hệ</span></li>
                              </ul>
                          </div>
                          <div class="col-sm-3 footer-colum3">
                              <h3>Hỗ trợ</h3>
                              <ul>
                                  <li title="Hỏi đáp"><span>Hỏi đáp</span></li>
                                  <li title="Chính sách KHTT"><span>Chính sách KHTT</span></li>
                                  <li title="Điều kiện - Điều khoản Chính sách KHTT"><span>Điều kiện - Điều khoản Chính sách KHTT</span></li>
                                  <li title="Chính sách vận chuyển"><span>Chính sách vận chuyển</span></li>
                                  <li title="Gợi ý tìm size"><span>Gợi ý tìm size</span></li>
                                  <li title="Kiểm tra đơn hàng"><span>Kiểm tra đơn hàng</span></li>
                                  <li title="Tra cứu điểm thẻ"><span>Tra cứu điểm thẻ</span></li>
                                  <li title="Chính sách bảo mật thông tin KH"><span>Chính sách bảo mật thông tin KH</span></li>
                              </ul>
                          </div>
                          <div class="col-sm-3 footer-colum4">
                              <h3>Tải ứng dụng</h3>
                              <div class="application">
                                  <div class="bancode"><img src="https://canifa.com/assets/images/bancode.png" width="100" height="100"></div>
                                  <div class="apps">
                                      <a href="https://play.google.com/store/apps/details?id=com.app.canifa&amp;hl=en" target="_blank">
                                          <img src="https://canifa.com/assets/images/googleplay.png" width="100" height="100">
                                      </a>
                                      <a href="https://itunes.apple.com/vn/app/canifa/id1175895653?mt=8" target="_blank">
                                          <img src="https://canifa.com/assets/images/appstore.png" width="100" height="100">
                                      </a>
                                  </div>
                              </div>
                              <div class="payment">
                                  <h3>Phương thức thanh toán</h3>
                                  <p><img src="https://canifa.com/assets/images/pay.svg" width="100" height="100"></p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="footer-bottom">
                      <div class="copyright">
                          © 2023 CANIFA
                      </div>
                      <div class="bct">
                          <a href="http://online.gov.vn/(X(1)S(edqk3incgl5uzlmn5mxjtu0b))/Home/WebDetails/36833?AspxAutoDetectCookieSupport=1" target="_blank"><img src="https://canifa.com/assets/images/bocongthuong.png" width="100" height="100"></a>
                      </div>
                  </div>
              </div>
            </footer>
        </div>
    </div>
</body>
</html>