            * {
                padding: 0;
                margin: 0;
                box-sizing: border-box;
                font-family: "Roboto", sans-serif;
            }

            .container {
                width: 352px;
                margin: auto;
                margin-top: 100px;
                border: 1px solid gray;
            }

            .title {
                padding: 20px;
            }

            .title2 {
                margin-top: 5px;
                font-size: 14px;
            }

            .nav-padding {
                margin-top: 40px;
                font-size: 13px;
            }

            .nav-padding2 {
                margin-left: 15px;
            }

            img {
                width: 350px;
                height: 300px;
            }

            i {
                color: grey;
            }

            button {
                background-color: orangered;
                color: white;
                box-sizing: border-box;
                border: none;
                font-size: 15px;
            }

            .btn2 {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                position: absolute;
                top: 20px;
                right: 20px;
            }

            .image {
                position: relative;
                width: 350px;
                height: 300px;
            }

            .btn1 {
                width: 100px;
                height: 40px;
                position: absolute;
                top: 260px;
                right: 250px;
            }

            .container:hover {
                box-shadow: 2px 2px 2px 2px grey;
            }

            .container:hover .image {
                width: 350px;
                height: 200px;
            }

            .container:hover img {
                height: 200px;
            }

            .container:hover .btn1 {
                position: absolute;
                top: 160px;
                right: 250px;
            }

            .container:hover .title {
                margin-top: 5px;
            }

            .child {
                position: absolute;
                background-color: black;
                width: 350px;
                height: 300px;
                opacity: 0.0;
            }

            .container:hover .child {
                height: 200px;
                opacity: 0.5;
            }